# frozen_string_literal: true

require_relative "pdftract/codegen/methods"
require_relative "pdftract/codegen/errors"
require_relative "pdftract/codegen/types"

module Pdftract
  VERSION = "{{ version }}"

  class << self
    def client(binary_path = "pdftract")
      Codegen::Client.new(binary_path)
    end
  end
end
